<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timestamp</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <article>
        <h1>Timestamp</h1>
        <h3>Description</h3>
        <div class="text">
            Timestamp Microservice
        </div>
    </article>
    <main>
        <div class="input">
            <h3>Inputs</h3>
            <li><a href="/api/2005-02-20">2005-02-20</a></li>
            <li><a href="/api/1451001600000">1451001600000</a></li>
        </div>
        <div class="input">
            <h3>Ouput</h3>
            <div class="text">
                {"unix":1451001600000,"utc":"Fri, 25 Dec 2015 00:00:00 GMT"}
            </div>
        </div>
    </main>
    <footer>
        <p>
            By: Carlos Enrique Juarez
        </p>
        <a href="https://github.com/carlosjuarez-s/backend-development-freecodecamp">Repository</a>
    </footer>
</body>
</html>